Utils/__pycache__
Results
Algorithms/PyVRP/solver/__pycache__
Algorithms/ORTools/solver/__pycache__
Algorithms/ALNS/src/utils/__pycache__
Algorithms/ALNS/src/operators/__pycache__
Algorithms/ALNS/src/__pycache__
Algorithms/ALNS/alns/__pycache__
Algorithms/ALNS/alns/accept/__pycache__
Algorithms/ALNS/alns/select/__pycache__
Algorithms/ALNS/alns/stop/__pycache__
venv/
.claude/
.vscode/
Algorithms/ACO/__pycache__